// Paleta de colores
$color-primary: #F7EFCB; // Color predominante
$color-primary-alt: #E8D3B3; // Color predominante alternativo
$color-secondary: #76ada9; // Color secundario
$color-mantis-1: #516f61; // Color para detalles principal
$color-mantis-2: #618E7E; // Color para detalles
$color-detail-1: #9dcdbb; // Color para detalles
$color-detail-2: #dfd8c7; // Color para detalles


//paleta de colores mas clarita
// Colores
$color-sand: #DFD8C7;
$color-aqua: #9DCDBB;
$color-forest: #516F61;
$color-deep-grass-green: #618E7E;



// Colores neutrales
$color-white: #ffffff;
$color-black: #000000;
$color-gray-light: #f5f5f5;
$color-gray-dark: #333333;

// Tipografía
$font-size-large: 1.6rem;
$font-size-medium: 1.4rem;
$font-size-small: 0.9rem;
$font-size-xsmall: 0.8rem;
$font-size-xxsmall: 0.7rem;
$font-size-xxxsmall: 0.6rem;
$text-color: #333333; // Color del texto por defecto

// Espaciado
$spacing-small: 8px;
$spacing-extrasmall: 4px;
$spacing-mini: 2px;
$spacing-medium: 16px;
$spacing-large: 20px;
$spacing-extralarge: 28px;

// Alturas
$min-height-full: 100vh;


// Bordes
$border-radius: 5px;



