.header {
    background-color: #333;
    padding: 1rem;
  }
  
  .navList {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    margin: 0 1rem;
  }
  
  .navLink {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }
  
  .navLink:hover {
    color: #61dafb; /* Un color llamativo al hacer hover */
  }
  
  /* Clase para ocultar el enlace de Admin */
  .hidden {
    display: none;
  }